<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livro</title>
    <style>
        table {
            border: 1px solid black;
        }

        table td {
            border: 1px solid black;
            padding-right: 10px;
        }

        input {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <h1>Editar Livro</h1>    
    <button onclick="window.location.href = '/'">Menu</button>
    <button onclick="window.location.href = '/livros'">Livros</button>
    <button onclick="window.location.href = '/autores'">Autores</button>
    <button onclick="window.location.href = '/editoras'">Editoras</button>

    <br>
    <br>
    <form th:action="@{/salvarLivro}" th:object="${livro}" method="POST" id="formLivro">
      
        <label>Id:</label> <span th:text="${livro.id}"></span>
        <br>
        <input type="hidden" th:value="${livro.id}" th:field="${livro.id}" name="id" />
        <input type="hidden" th:value="${livro.autores}" th:field="${livro.autores}" name="autores" />
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${livro.nome}" name="nome" required/>
        <br>  
        <label>Editora:</label>
        <select th:field="${livro.editora}" required>
            <option value="">Escolha a Editora:</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">
            </option>
        </select>

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>

    <br>
    <br>

    <form th:action="@{/removerAutorLivro(id_livro=${livro.id})}" method="POST">
        <label><b>Remover Autores:</b></label>
        <select name="id" required>
            <option value="">Escolha o Autor</option>
            <option th:each="autor : ${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nome}">
            </option>
        </select>
        <input type="submit" value="Remover Autor"/>
    </form>
    
</body>

</html>